.photo-preview-container, .collection-preview-container {
    display: inline-block;
    margin: 10px;
}

.photo-preview-container>img, .collection-preview-container img {
    height: 139px;
    width: auto;
}

.margin-top-40 {
    margin-top: 40px;
}