body {
    background: url("fon.png") no-repeat;
}

#relative {
    position: relative;
    height: 352px;
}

#first {
    position: absolute;
    bottom: 115px;
    left: 133px;
    border: 2px solid #dbad39;

}

#second {
    position: absolute;
    top: 97px;
    left: 306px;
    border: 2px solid #b68b2e;
}

#third {
    position: absolute;
    top: 126px;
    left: 477px;
    border: 2px solid #737373;
}


