body {
    background: url("fon.png") no-repeat;
}

#relative {
    position: relative;
    height: 352px;
    text-align: center;
}

#first {
    position: absolute;
    bottom: 115px;
    left: 133px;
    text-align: center;

}

#second {
    position: absolute;
    top: 97px;
    left: 306px;
    text-align: center;
}

#third {
    position: absolute;
    top: 126px;
    left: 477px;
    text-align: center;
}

#top-photo-1 {
    border: 2px solid #dbad39;
}

#top-photo-2 {
    border: 2px solid #b68b2e;
}

#top-photo-3{
    border: 2px solid #737373;
}

.frame {
    width: 134px;
}

#photo-footer {
    margin-top: 133px;
    padding-left: 12px;
}

.img-footer {
    border: 2px solid #fff;
    padding:0;
    margin:0;
    margin-right: 4px;
    display:inline-block;
}

