<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparison of goods</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div id="comparision">
        <h1>Comparison of goods</h1>

        <div class="btn-group" v-for="catalog in catalog">
            <button type="button" class="btn btn-primary">{{ catalog }}</button>
        </div>

        <div class="row">
            <div class="col-md-2 head" v-for="object in objects" v-if="object.catalog == currentCatalog">
                <p class="margin-top-10">
                <img :src="object.photo" class="head_image">
                </p>
                <p class="head_name">
                    <a :href="object.url">{{ object.name }}</a>
                </p>
            </div>
        </div>

        <div v-for="group in groups">
            <h4 class="margin-top-10">
                <b>
                    {{ group.name }}
                </b>
            </h4>
            <div class="row" v-for="property in group.properties">
                <div class="col-md-2" v-for="(value, index) in property.values">
                    <p class="margin-top-10 property-name" v-if="index == 0">{{ property.name }}</p>
                    <p class="margin-top-10 property-value">{{ value }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="vue.js"></script>
<script src="script.js"></script>
</body>
</html>